<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">Main page</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>12.09.2010</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolores doloribus dolorum eius esse, hic ipsum libero, maxime minima nesciunt officiis pariatur quae repudiandae tenetur voluptatem! Aperiam assumenda atque eos fuga inventore libero molestiae numquam similique! Ab adipisci animi cumque delectus dolorum iusto minima odit quod suscipit voluptatibus? Incidunt, unde?</p>
  </div>
</div>
